body{
        overflow: hidden;
    }

.holder {
    display: none; 
}

.customBtns{
    position: absolute;
    width: 860px;
    height: 50px;
    margin: 250px 0 0 0;
}

.pgs{
    margin: 0 auto;
    width: 940px;
    height: 450px;
    position: relative; 
}

.botones2{
    overflow: hidden;
    width: 824px;
    height: 340px;
    position: absolute;
    margin: 170px 0 0 50px;
}

.adv{
    background: url(../img/adv.png) no-repeat;
    width: 834px;
    height: 364px;
}

.botonesP1{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 100px 0 0 60px;
}

.btnExtras{
    margin-top: 304px;
    margin-left: 770px;
    position: absolute;
}

.cont{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.cls{
    position: absolute;
    right: 243px;
    top: 43px;
    cursor: pointer;
}

.black{
    width: 100%;
    height: 100%;
    background: rgba(37, 48, 16, 0.95);
    position: absolute;
    z-index: 3;
}
.posExtras{
    padding: 1px;
    margin: -403px 0px 0px 205px;
    width: 513px;
    height: 331px;
    background-color: #ffffff;
    border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    -webkit-border-radius: 17px 17px 17px 17px;
    border: 0px solid #000000;
}
   
.botones{
    position: absolute;
    margin: -386px 0 0 842px;
}
.botones_div{
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
    width: 117px;
    border-style: groove; border-width: 1px;
}
.cont_accordeon{
    position: absolute;
    margin-top: 160px;
    margin-left: 29px;
    width: 864px;
    border-style: groove; border-width: 1px;

}
.acordeon{
    position: absolute;
    margin: 100px 0 0 10px;
}

/*--------------------------------------------------------------------*/
/*Posicionamiento Label general*/
.label-pos2{
    margin-top: 20px;
    margin-left: 270px;
}
/*Posicionamiento del contenido inicial*/
.cont-init-img-pos{
    margin-top: 185px;
    margin-left: 55px;
}

.btn01{
    background: url(../images/cont04/btn01.png) no-repeat center;
}

.btn02{
    background: url(../images/cont04/btn02.png) no-repeat center;
}

.pos-div-btns{
    margin-top: 35px;
    margin-left: 170px;
}

.separate-btns{
    margin-right: 20px;
}

.pos-instruccion{
    margin-top: 25px;
    margin-left: 138px;
}

.pos-btn-cls{
    margin-top: -55px;
    /* margin-left: -36px!important; */
    right: -9px!important;
}
